In [1]:
import pandas as pd
import sqlite3
conn=sqlite3.connect('school_database.sqlite')
cur=conn.cursor()
d=pd.read_csv('iris_csv.csv')
d.to_sql('irisdata',conn, if_exists='append', index=False)

C:\Users\Garv\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [5]:
for i in cur.execute("SELECT * FROM IRISDATA WHERE species='setosa'"):
    print('sepal_length',i[0])
    print('petal_length',i[1])

sepal_length 0
petal_length 1.4
sepal_length 1
petal_length 1.4
sepal_length 2
petal_length 1.3
sepal_length 3
petal_length 1.5
sepal_length 4
petal_length 1.4
sepal_length 5
petal_length 1.7
sepal_length 6
petal_length 1.4
sepal_length 7
petal_length 1.5
sepal_length 8
petal_length 1.4
sepal_length 9
petal_length 1.5
sepal_length 10
petal_length 1.5
sepal_length 11
petal_length 1.6
sepal_length 12
petal_length 1.4
sepal_length 13
petal_length 1.1
sepal_length 14
petal_length 1.2
sepal_length 15
petal_length 1.5
sepal_length 16
petal_length 1.3
sepal_length 17
petal_length 1.4
sepal_length 18
petal_length 1.7
sepal_length 19
petal_length 1.5
sepal_length 20
petal_length 1.7
sepal_length 21
petal_length 1.5
sepal_length 22
petal_length 1.0
sepal_length 23
petal_length 1.7
sepal_length 24
petal_length 1.9
sepal_length 25
petal_length 1.6
sepal_length 26
petal_length 1.6
sepal_length 27
petal_length 1.5
sepal_length 28
petal_length 1.4
sepal_length 29
petal_length 1.6
sepal_length 30
petal_length 1.6
sepal_length 31
petal_length 1.5
sepal_length 32
petal_length 1.5
sepal_length 33
petal_length 1.4
sepal_length 34
petal_length 1.5
sepal_length 35
petal_length 1.2
sepal_length 36
petal_length 1.3
sepal_length 37
petal_length 1.5
sepal_length 38
petal_length 1.3
sepal_length 39
petal_length 1.5
sepal_length 40
petal_length 1.3
sepal_length 41
petal_length 1.3
sepal_length 42
petal_length 1.3
sepal_length 43
petal_length 1.6
sepal_length 44
petal_length 1.9
sepal_length 45
petal_length 1.4
sepal_length 46
petal_length 1.6
sepal_length 47
petal_length 1.4
sepal_length 48
petal_length 1.5
sepal_length 49
petal_length 1.4

In [6]:
cur.execute("UPDATE irisdata SET species='seto' where species='setosa'")
conn.commit()

In [7]:
cur.execute("DELETE FROM irisdata WHERE sepal_length=5.1 AND sepal_width=3.5")
conn.commit()